@model QuestionStorage.Models.ViewModels.ListingViewModel

@{
    ViewData["Title"] = "Generated questions";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Generated questions</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>

<body>
<h1>Generated questions</h1>
<br/>

@foreach (var item in Model.Questions)
{
    <div>
        <a asp-action="AboutQuestion" asp-route-questionId="@item.Id" asp-route-courseId="@item.CourseId">#@item.Id. @item.Name</a>
        <div class="less-bottom-space">
            @{
                var previewData = item.Text.Split().Take(20);
                        
                var preview = string.Join(' ', previewData);
            }
                    
            <pre class="pre smaller-text">@preview...</pre>
        </div>
        @foreach (var tag in item.TagsQuestions)
        {
            <a class="tag-button"
               href='@Url.Action("ListQuestionsByTag", "Display", new {courseId = tag.Tag.CourseId, tagId = tag.Tag.Id})'>
                <text>@Url.Content($"{tag.Tag.Name}".TrimEnd('.'))</text>
            </a>
        }
    </div>
    <br/>
}
</body>
</html>