@model IEnumerable<QuestionStorage.Models.Questions.QuestionsInfo>

@{
    ViewData["Title"] = ViewBag.TagName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ViewBag.TagName</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>

<body>
<h1>@ViewBag.TagName</h1>

@foreach (var item in Model)
{
    <div>
        <a asp-action="AboutQuestion" asp-route-courseId="@item.CourseId" asp-route-questionId="@item.QuestId">#@item.QuestId. @item.QuestionName</a>
        <div class="less-bottom-space">
            <pre class="pre smaller-text">@Html.Raw(string.Join(' ', item.QuestionText.Split().Take(20)) + "</code>")...</pre>
        </div>
    </div>
    <br/>
}
</body>
</html>