@model QuestionStorage.Models.ViewModels.ListQuestionsViewModel

@{
    ViewData["Title"] = "Questions";
    var tagSelectList = new SelectList(Model.TagsInfo.Select(
        t => new {Value = t.TagId, Text = t.Name}).Append(new {Value = 1, Text = "Template"}),
        "Value", "Text");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>List questions</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>
<body>
<style>
    .select2-container--default .select2-selection--multiple {
        background-color: white;
        border: 1px solid #aaa;
        border-radius: 5px 0 0 5px;
        cursor: text; 
        height: calc(1.5em + 0.75rem + 1px)
    }
</style>
<br/>
@using (Html.BeginForm("ListQuestions", "Display", FormMethod.Post))
{
    <div>
        <div class="t">
            @Html.DropDownList("Tags", tagSelectList, new {id = "tags", multiple = "multiple"})
        </div>
        <button type="submit" style="margin-left: -5px; margin-top: -1px" class="submit search t">Search</button>
    </div>

    <br/>

    @if (Model.QuestionsInfo != null)
    {
        @foreach (var item in Model.QuestionsInfo)
        {
            <div>
                <a asp-action="AboutQuestion" asp-route-questionId="@item.QuestId" asp-route-courseId="@item.CourseId">#@item.QuestId. @item.QuestionName</a>
                <div class="less-bottom-space">
                    @{
                        var previewData = item.QuestionText.Split().Take(20);

                        var preview = string.Join(' ', previewData);
                    }

                    <pre class="pre smaller-text">@preview...</pre>
                </div>
                @foreach (var tag in item.TagsQuestions)
                {
                    <a class="tag-button"
                       href='@Url.Action("ListQuestionsByTag", "Display", new {courseId = tag.Tag.CourseId, tagId = tag.Tag.TagId})'>
                        <text>@Url.Content($"{tag.Tag.Name}".TrimEnd('.'))</text>
                    </a>
                }
            </div>
            <br/>
        }
    }
}
</body>
</html>

@section Scripts {
    <script>
    $(function() {
        $('#tags').select2({
        width : "100%"
        });
    });
    </script>
}