@model IEnumerable<QuestionStorage.Models.Questions.Question>

@{
    string title = Model.First().TagsQuestions.First().Tag.Name;
    ViewData["Title"] = title;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ViewBag.TagName</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>

<body>
<h1>@title</h1>
<br/>

@foreach (var item in Model)
{
    <div>
        <a asp-action="AboutQuestion" asp-route-courseId="@item.CourseId" asp-route-questionId="@item.Id">#@item.Id. @item.Name</a>
        <div class="less-bottom-space">
            <pre class="pre smaller-text">@Html.Raw(string.Join(' ', item.Text.Split().Take(20)) + "</code>")...</pre>
        </div>
    </div>
    <br/>
}
</body>
</html>