@model QuestionStorage.Models.Questions.Question

@{
    ViewData["Title"] = "Details";
    List<string> task = ViewBag.Text;
    string code = ViewBag.Code;
}

@* ReSharper disable Html.IdDuplication *@
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <title>Details</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>

<body onload="replaceNewLineWithBr()">
<div>
    <h3 class="page-header">#@Html.DisplayFor(model => model.Id)</h3>
    @if (Model.VersionId != Model.Id)
    {
        <h5><a asp-action="Details" asp-route-id="@Model.SourceId">@Model.SourceId</a> v.@Model.VersionId</h5>
    }
    <p>
        <b>@Model.Name</b>
    </p>
    
    @if (task != null)
    {
        @if (!string.IsNullOrEmpty(task[0]))
        {
            <div id="questionText">@task[0]</div>
        }
        @if (!string.IsNullOrWhiteSpace(code))
        {
            @Html.Raw(code)
        }
        @if (task.Count > 1 && !string.IsNullOrWhiteSpace(task[1]))
        {
            <div id="questionText">@task[1]</div>
        }
    }
    
    @if (Model.TypeId != 3)
    {
        @foreach (var answer in Model.AnswerOptions)
        {
            <ul class="ul-circle">
                <li>
                    <pre class="pre">@Html.Raw(answer.Text)</pre>
                </li>
            </ul>
        }
    }

    <hr/>

    <p>
        <b class="content-header">Type: </b>@Model.Type.Name.ToLower()</p>

    @{
        var correctAnswerText = Model.TypeId == 2 ? "Correct answers" : "Correct answer";
    }
    
    @if (Model.TypeId != 4)
    {
        <p>
            <b class="content-header">@correctAnswerText</b>
        </p>
        @foreach (var variant in Model.AnswerOptions)
        {
            if (variant.IsCorrect)
            {
                <ul class="ul-circle">
                    <li>
                        <pre class="pre">@Html.Raw(variant.Text)</pre>
                    </li>
                </ul>
            }
        }
    }

    <p>
        <b class="content-header">Tags</b>
    </p>

    @foreach (var tag in Model.TagsQuestions)
    {
        @Html.ActionLink($"\t{tag.Tag.Name.TrimEnd('.')}\t", "Display",
            new {courseId = Model.CourseId, tagId = tag.Tag.Id}, new {@class = "tag-button"})
    }
</div>

@if (!string.IsNullOrWhiteSpace(Model.Comment))
{
    <hr/>
    <p>
        <b class="content-header less-bottom-space">Comment</b>
    </p>
    @Html.DisplayFor(model => model.Comment)
    <br/>
}

<br/>

<div>
    <a asp-action="Edit" asp-route-questionId="@Model.Id" asp-route-courseId="@Model.CourseId">Edit</a> |
    <a asp-action="Copy" asp-route-questionId="@Model.Id" asp-route-courseId="@Model.CourseId">Copy</a> |
    <a asp-action="ExportToXml" asp-route-questionId="@Model.Id">Export to XML</a> 
    @if (Model.IsTemplate)
    {
        <text>|</text>
        <a asp-action="Generate" asp-route-questionId="@Model.Id" asp-route-courseId="@Model.CourseId">Generate questions</a>
    }
    @if (User.IsInRole("administrator"))
    {
        <text>|</text>
        <a href="#" id="addComment">Add comment</a>
    }
</div>

@using (Html.BeginForm("AddComment", "Questions", new {courseId = Model.CourseId, questionId = Model.Id}, FormMethod.Post))
{
    <hidden id="comment"></hidden>
    <button id="addCommentButton" class="submit" hidden onclick="location.href='@Url.Action("AddComment", "Questions")'">Add</button>
}
</body>
</html>

@section Scripts {
    <script>
    function replaceNewLineWithBr() {
        document.getElementById("questionText").innerHTML = document.getElementById("questionText").innerHTML.replace(/\n|\r\n|\r/g, '<br/>');
    }
    </script>
    
    <script>
    $('#addComment').click(function(){ showCommentTextArea(); return false; });
    function showCommentTextArea() {
        document.getElementById("comment").innerHTML = '<br/><textarea class="textarea long" name="Comment"></textarea>';
        document.getElementById("comment").innerHTML += "<br/>";
        document.getElementById("addCommentButton").hidden = false;
        
    }
    </script>
}

