@model QuestionStorage.Models.Questions.QuestionsInfo

@{
    ViewData["Title"] = "Details";
    HashSet<int> metaTags = ViewBag.MetaTags;
}

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    <title>Details</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
</head>

<body>
<div>
    <h3 class="page-header">#@Html.DisplayFor(model => model.QuestId)</h3>
    @if (Model.VersionId != Model.QuestId)
    {
        <h5><a asp-action="Details" asp-route-id="@Model.SourceQuestId">@Model.SourceQuestId</a> v.@Model.VersionId</h5>
    }
    <p>
        <b>@Model.QuestionName</b>
    </p>
    <p><pre class="pre">@Html.Raw(Model.QuestionText)</pre>

    @if (Model.TypeId != 3)
    {
        @foreach (var answer in Model.QuestionAnswerVariants)
        {
            <ul class="ul-circle">
                <li>
                    <pre class="pre">@Html.Raw(answer.Answer)</pre>
                </li>
            </ul>
        }
    }

    <hr/>

    <p>
        <b class="content-header">Type: </b>@Model.Type.Name.ToLower()</p>

    @{
        var correctAnswerText = Model.TypeId == 2 ? "Correct answers" : "Correct answer";
    }
    
    @if (Model.TypeId != 4)
    {
        <p>
            <b class="content-header">@correctAnswerText</b>
        </p>
        @foreach (var variant in Model.QuestionAnswerVariants)
        {
            if (variant.IsCorrect)
            {
                <ul class="ul-circle">
                    <li>
                        <pre class="pre">@Html.Raw(variant.Answer)</pre>
                    </li>
                </ul>
            }
        }
    }

    <p>
        <b class="content-header">Tags</b>
    </p>
    @foreach (var tag in Model.TagsQuestions)
    {
         if (ViewBag.MetaTags.Contains(tag.TagId))
         {
             @Html.ActionLink($"\t{tag.Tag.Name.TrimEnd('.')}\t", "Display",
                 new {id = tag.Tag.TagId}, new {@class = "meta-tag-button"})
         }
         else
         {
            @Html.ActionLink($"\t{tag.Tag.Name.TrimEnd('.')}\t", "Display",
                new {id = tag.Tag.TagId}, new {@class = "tag-button"})
        }
    }
</div>

<br/>

<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    @* <a asp-action="ExportToPdf" asp-route-id="@Model.QuestId">Export to PDF</a> | *@
    <a asp-action="ExportToXml" asp-route-id="@Model.QuestId">Export to XML</a> |
    @if (Model.IsTemplate)
    {
        <a asp-action="Generate" asp-route-id="@Model.QuestId">Generate questions</a>
    }
</div>
</body>
</html>


