@model QuestionStorage.Models.Courses.Course

@{
    ViewData["Title"] = "Actions";

}
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-stylesheet.css">
    <link rel="contents" href="/lib/resources/answer-open.xml">
</head>
<body>
<h1 class="page-header" style="display: inline">@Model.Name</h1>
<h1 style="color:orange; display: inline">[@ViewBag.QuestionsCount]</h1>
<br/>
<br/>
<div style="margin: auto;">
    <table style="border-collapse: separate; border-spacing: 0.7rem 0.7rem">
        <tr>
            <th>
                <div>
                    <a class="section-button" style="color: #f19a74; padding: 75px 25px 75px 25px;"
                       asp-action="Create"
                       asp-controller="Questions"
                       asp-route-courseId="@Model.Id">
                        Create question
                    </a>
                </div>
            </th>
            <th>
                <div>
                    <a class="section-button" style="color: #dc9188; padding: 75px 25px 75px 25px;"
                       asp-action="ListQuestions"
                       asp-controller="Display"
                       asp-route-courseId="@Model.Id">
                        All questions
                    </a>
                </div>
            </th>
            <th>
                <div>
                    <a class="section-button" style="color: #c1849c; padding: 55px 25px 75px 25px;"
                       asp-action="Export"
                       asp-controller="Questions"
                       asp-route-courseId="@Model.Id">
                        Export questions to Moodle XML
                    </a>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div>
                    <a class="section-button" style="color: #b17da9; padding: 55px 25px 75px 25px;"
                       asp-action="Import"
                       asp-controller="Questions"
                       asp-route-courseId="@Model.Id">
                        Import questions from Moodle XML
                    </a>
                </div>
            </th>
            <th>
                <div>
                    <a class="section-button" style="color: #9f75b9; padding: 75px 25px 75px 25px;"
                       asp-action="Create"
                       asp-controller="Quizzes"
                       asp-route-courseId="@Model.Id">
                        Create quiz
                    </a>
                </div>
            </th>
            <th>
                <div>
                    <a class="section-button" style="color: #8d6dc9; padding: 75px 25px 75px 25px;"
                       asp-action="ListTests"
                       asp-controller="Display"
                       asp-route-courseId="@Model.Id">
                        All quizzes
                    </a>
                </div>
            </th>
        </tr>
        @if (User.IsInRole("administrator")) 
        {
            <tr>
                <th>
                    <div>
                        <a class="section-button" style="color: #8076b9;  padding: 75px 25px 75px 25px;"
                           asp-action="Subscribe"
                           asp-controller="Courses"
                           asp-route-courseId="@Model.Id">
                            Subscribe users
                        </a>
                    </div>
                </th>
                <th>
                    <div>
                        <a class="section-button" style="color: #8076b9;  padding: 75px 25px 75px 25px;"
                           asp-action="Edit"
                           asp-controller="Courses"
                           asp-route-courseId="@Model.Id">
                            Settings
                        </a>
                    </div>
                </th>
                <th>
                </th>
            </tr>
        }
    </table>
</div>
</body>
</html>